.section__contact{      
    width: 84%;
    height: 100vh;
    margin-left: 120px;
    margin-top: 100px;
    
 
    &_text_h1{
    margin-bottom: 60px;    
    letter-spacing: 5px;      
    }
    &_text-blue{
      color:#607d8b;
      font-size: 18px;
      margin-bottom: 30px;
      margin-top: 30px;
    }
    .form{
      width: 100%;
      margin-top: 40px;     
      & input{
        width: 100%;
        height: 60px;
        padding: 16px 8px;
        margin: 5px;
        border: 0;
        border-bottom: solid 1px rgb(204, 204, 204);
}
     
 }
}
   .form_btn{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    width:200px;   
    padding: 10px 8px;
    margin: 20px 0;
    border: none;
    border: 10px;
   }
   .form_btn:hover{
     cursor: pointer;
     background-color: #607d8b;
   }
   .footer{
    text-align: center;
    font-size: 15px;
    background-color: #f1f1f1;
    padding: 30px 0;
}

.footer-content{
    margin: 20px 0;
}

.footer a{
    color: #000;
    text-decoration: underline;
}

.footer a:hover{
    color: #04AA6D;
}
