.section__menu{
   display: flex;
   justify-content: space-evenly;
   &_img img{
    display: flex;
    width: 500px;
    height: 750px;
    border-radius: 4px; 
    margin-top: 90px;    
    color: rgb(226, 207, 207);
     opacity: 0.75;
     margin-bottom: 80px;
   }
   &_text{
    margin-top: 120px ;
    text-align: center;   
   }
   & h1{       
       margin-bottom: 25px;
       letter-spacing: 5px;
   }
   & h4{
       letter-spacing: 5px;
       margin-bottom: 30px;
       text-align: start;
   }
   & p{
       text-align: start;
       color: rgb(85, 81, 81);
       margin-bottom: 60px;
   }
}